appdirs==1.4.4
autopep8==1.5.7
certifi==2020.6.20
cfgv==3.3.0
chardet==3.0.4
click==8.0.1
colorama==0.4.4
Discord-Webhooks==1.0.4
distlib==0.3.2
docopt==0.6.2
filelock==3.0.12
Flask==2.0.1
git-filter-repo==2.32.0
identify==2.2.10
idna==2.8
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
nodeenv==1.6.0
packaging==20.9
pep8==1.7.1
pipreqs==0.4.10
pluggy==0.13.1
pre-commit==2.13.0
py==1.10.0
pycodestyle==2.7.0
pyjokes==0.6.0
PyYAML
requests
schedule
six==1.16.0
toml==0.10.2
urllib3==1.24.3
virtualenv==20.4.7
gunicorn
